<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{user_profile.name}}</h2>
    <h2>{{user_profile.email}}</h2>
    <h2>{{user_profile.phone}}</h2>
    <hr/>
    <br>
    <p>Summary</p>
    <br>
    <p>{{user_profile.summary}}</p>
    <hr/>
    <br>
    <p>Skills</p>
    <br>
    <p>{{user_profile.skills}}</p>
    <hr/>
    <br>
    <p>Education</p>
    <br>
    <ul>
        <li>{{user_profile.school}}</li>
        
        <br>
        <li>{{user_profile.university}}</li>
    </ul>
    
</body>
</html>